    * {
        padding: 0;
        margin: 0 auto;
        box-sizing: border-box;
    }
    
    .container {
        max-width: 1200px;
        padding: 0;
    }
    
    header {
        background: linear-gradient(90.26deg, #7D604B 0.23%, #251000 99.8%);
    }
    
    .header-wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 60px;
    }
    
    .header-wrapper__logo h2 {
        padding-bottom: 10px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        color: #F1CDB3;
    }
    
    .header-wrapper__logo p {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        color: #FFFFFF;
    }
    
    .header-wrapper__menu {
        padding-left: 538px;
    }
    
    .header-wrapper__menu ul li {
        display: inline-block;
        padding-left: 35px;
    }
    
    .header-wrapper__menu a {
        text-decoration: none;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #CDCDCD;
    }
    
    .header-wrapper__about a {
        color: #FAFAFA;
        border-bottom: 3px solid #F1CDB3;
    }
    
    main {
        padding-top: 60px;
        background: linear-gradient(90.26deg, #7D604B 0.23%, #251000 99.8%);
    }
    
    .main-wrapper {
        display: flex;
        justify-content: space-between;
    }
    
    .main-wrapper__text {
        padding-top: 156px;
    }
    
    .main-wrapper__text h1 {
        max-width: 62%;
        margin: 0;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 130%;
        color: #FFFFFF;
    }
    
    .main-wrapper__text p {
        margin: 0;
        padding-top: 42px;
        padding-bottom: 41px;
        max-width: 460px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #CDCDCD;
    }
    
    .main-wrapper__text a {
        padding: 15px 45px;
        background: #F1CDB3;
        width: 207px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        color: #292929;
        text-decoration: none;
        border-radius: 100px;
    }
    
    .main-wrapper__text a:hover {
        background: #FDDCC4;
    }
    
    .main-wrapper__dog {
        margin-top: 60px;
    }
    
    .section-wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 80px;
        background: #FFFFFF;
        padding-bottom: 100px;
    }
    
    .section-wrapper__shelter {}
    
    .section-wrapper__shelter h2 {
        margin: 0;
        width: 320px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        color: #545454;
    }
    
    .section-wrapper__shelter p {
        width: 430px;
        margin-top: 25px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #4C4C4C;
    }
    
    aside {
        padding-top: 80px;
        background: #F6F6F6;
        height: 877px;
    }
    
    .name {
        text-align: center;
        padding-bottom: 60px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        color: #545454;
        max-width: 400px;
    }
    
    .slides-wrapper {
        display: flex;
    }
    
    .slides-wrapper__left button {
        border: 2px solid #F1CDB3;
        border-radius: 50%;
        padding: 23px 19px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        margin-top: 200px;
    }
    
    .middle-pets {
        display: flex;
        justify-content: space-between;
    }
    
    .middle-pets .cat:hover,
    .puppy:hover,
    .dog:hover {
        background-color: #FFFFFF;
    }
    
    .middle-pets p {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: #545454;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .middle-pets a {
        text-decoration: none;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        width: 97px;
        color: #292929;
        padding: 15px 45px;
        border: 2px solid #F1CDB3;
        border-radius: 100px;
        margin: 41px;
    }
    
    .middle-pets a:hover {
        background: #FDDCC4;
    }
    
    .puppy {
        margin-left: 90px;
        margin-right: 90px;
        background: #FAFAFA;
    }
    
    .cat {
        height: 400px;
        background: #FAFAFA;
    }
    
    .dog {
        background: #FAFAFA;
    }
    
    .slides-wrapper__right button {
        border: 2px solid #F1CDB3;
        border-radius: 50%;
        padding: 23px 19px;
        margin-top: 200px;
    }
    
    .slides-wrapper__left button:hover,
    .slides-wrapper__right button:hover {
        background: #FDDCC4;
    }
    
    .buttom {
        background: #F1CDB3;
        border-radius: 100px;
        width: 261px;
        padding: 15px 45px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 60px;
    }
    
    .buttom a {
        text-decoration: none;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        color: #292929;
    }
    
    .buttom:hover {
        background: #FDDCC4;
    }
    
    .help {
        padding-top: 80px;
        padding-bottom: 98px;
    }
    
    .help h2 {
        max-width: 308px;
        margin-bottom: 5px;
        text-align: center;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        color: #545454;
    }
    
    .help-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .help-wrapper__link {
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 55px;
    }
    
    .help-wrapper__link img {
        padding-bottom: 30px;
    }
    
    .help-wrapper__link p {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        color: #545454;
    }
    
    .donation-wrapper {
        display: flex;
        justify-content: space-between;
    }
    
    .donation-wrapper__labrador {
        width: 56%;
        text-align: right;
    }
    
    .donation-wrapper__card {
        width: 43%;
    }
    
    .donation-wrapper__card h2 {
        margin: 0;
        padding-bottom: 20px;
        width: 285px;
        text-align: left;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        color: #545454;
    }
    
    .donation-wrapper__card p {
        padding-bottom: 20px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        color: #545454;
    }
    
    .number {
        background-image: url(../img/card.svg);
        background-repeat: no-repeat;
        background-color: #F1CDB3;
    }
    
    .number p {
        padding-left: 45px;
        padding-top: 10px;
        padding-bottom: 10px;
    }